body {
    font-family: 'Segoe UI', sans-serif;
}

#shayariBox {
    background-image: url(Sad2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    border: 5px solid #e74c3c;
   
    border-radius: 10px;
}
p{
    color: white;
}
